{% extends 'base.html.twig' %}

{% block title %}SHOP.FR | SE CONNECTER{% endblock %}

{% block body %}
<div class="col-lg-9">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    
        <h3 class="my-4">SE CONNECTER</h3>
    <label for="inputEmail" class="sr-only">Adresse e-mail</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="ADRESSE E-MAIL" required autofocus>
    <label for="inputPassword" class="sr-only">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="mt-4 form-control" placeholder="MOT DE PASSE" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
 #}
    <br>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
   
    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
</form>
</div>
{% endblock %}
