{% extends 'parent.html.twig' %}

{% block title %}Hello AffichageController!{% endblock %}

{% block body %}
 <div class="row mt-3">
        <div class="col">
            <h1>Produits</h1>
            {% for vetement in results %}
                <p>
                   
                        {{ vetement.name | capitalize}} 
                </p>
                  <p>
                   
                        {{ vetement.price | capitalize}} 
                </p>
                  <p>
                   
                        {{ vetement.description | capitalize}} 
                </p>

                <div class="col-sm-3">
            <img src="{{ asset('img/' ~ vetement.image) }}" alt="" class="img-fluid">
        </div>
                
            {% endfor %}
        </div>
    </div>
{% endblock %}
