{% extends 'parent.html.twig' %}

{% block title %}Hello PullController!{% endblock %}

{% block body %}


 <div class="row">
        <div class="col" style="color: red" > <br>
        <h1>Soldes du 1er Avril au 18 Avril, Dépêchez-vous ! </h1>
        </div>
      {% endblock %}
