<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{#
		MISE EN PLACE DE LA FONCTION ASSET
	#}
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<title>
		{% block title %}SHOP.FR | LA RÉFÉRENCE DES FASHIONS VICTIMS{% endblock %}
	</title>
</head>
<body>
	{#
		BARRE DE NAVIGATION
	#}
<div>{% include 'inc/nav.html.twig'%}</div>
		

	{# 
		MENU LATÉRAL GAUCHE
	#}
	<div class="container mt-5">
		<div class="row">
	{% include 'inc/left.html.twig' %}
	{% block body %}{% endblock %}
		</div>
	</div>
	{#
		FOOTER
	#}

<div>{% include 'inc/footer.html.twig' %}</div>

	<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>

