 <div class="col-lg-3">

        <h1 class="my-4">SPRING '19</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">HAUTS</a>
          <a href="#" class="list-group-item">BAS</a>
          <a href="#" class="list-group-item">CHAUSSURES</a>
        </div>

</div>
      <!-- /.col-lg-3 -->

      